<aside>
    <div><h2>Riepilogo</h2></div>
    <div class="inbetween">
        <p>Hai un codice promozionale</p>
        <svg aria-hidden="true" class="nds-summary-control" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M18.966 8.476L12 15.443 5.033 8.476"></path></svg>
    </div>
    <div class="inbetween sub">
        <p>Subtotale</p>
        <p>{{total}}</p>
    </div>
    <div class="inbetween">
        <p>Costi di spedizione previsti</p>
        <p>gratis</p>
    </div>
    <div class="inbetween last">
        <p>Totale</p>
        <p>{{total}}</p>
    </div>
    <div class="payments_btn">
        <button id="pay" *ngIf="total != 0" routerLink="/auth"><a>Vai al Pagamento</a></button>
        <button id="paypal" *ngIf="total != 0"><img src="/assets/imm/paypal.png" alt=""></button>
    </div>
</aside>
