<main>
    <div>
        <div>
            <svg class="nike" width=" 145px" height="70px" viewBox="15 0 24 24"><path d="M21 8.719L7.836 14.303C6.74 14.768 5.818 15 5.075 15c-.836 0-1.445-.295-1.819-.884-.485-.76-.273-1.982.559-3.272.494-.754 1.122-1.446 1.734-2.108-.144.234-1.415 2.349-.025 3.345.275.2.666.298 1.147.298.386 0 .829-.063 1.316-.19L21 8.719z"></path></svg>
        </div>
        <div>
            <h2>Inserisci la tua e-mail per unirti a noi o accedi.</h2>
        </div>
        <form [formGroup]="registerForm">
            <div>
                <p class="color-label" *ngIf="registerForm.controls.emailLogin.touched && registerForm.controls.emailLogin.errors?.required">email obbligatoria</p>
                <p class="color-label" *ngIf="registerForm.controls.emailLogin.errors?.pattern">formato non  valido</p>
                <input type="email" 
                        id="email" 
                        formControlName="emailLogin" 
                        placeholder="E-mail*" >
        
            </div>
            <div>
                <p class="color-label" *ngIf="registerForm.controls.passwordLogin.touched && registerForm.controls.passwordLogin.errors?.required">email obbligatoria</p>
                <input type="password" 
                        id="psw-login"
                        formControlName="passwordLogin"    
                        placeholder="Password*"
                        autocomplete="new-password" >
            </div>
            <!-- <div *ngIf="inputVisibile">
                <p class="label" *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.required">password obbligatoria</p>
                <p class="label" *ngIf="registerForm.controls.password.errors?.pattern">Deve contenere almeno 8 caratteri, 1 maiuscola, 1 carattere speciale e un numero</p>
                <input type="password" 
                        id="psw"
                        formControlName="password"    
                        placeholder="Password*"
                        autocomplete="new-password" >
            </div>
    
            <div *ngIf="inputVisibile">
                <p class="label" *ngIf="registerForm.controls.ripetiPassword.touched && registerForm.controls.ripetiPassword.errors?.required">password obbligatoria</p>
                <p class="label" *ngIf="registerForm.errors?.ripetiPasswordErr && registerForm.controls.ripetiPassword.touched && registerForm.controls.password.touched">la password sono diverse</p>
                <input type="password" 
                        id="re-psw"
                        formControlName="ripetiPassword"    
                        placeholder="Ripeti Password*"
                        autocomplete="new-password" >
            </div> -->
           
        </form>
        <div>
            <p class="para">Continuando, accetti le <span>condizioni d'uso</span> di Nike e confermi di aver letto l'<span>informativa sulla privacy</span> di Nike.</p>
        </div>
        <button (click)="onRegister()" [disabled]="registerForm.invalid"[ngClass]="{'valid': registerForm.valid}">Continua</button>
    </div>
    
</main>
