@import "../../../partial/variabili";

svg{
    margin-right: 0.75em;
}

a{
    color: #111;
    svg{
        margin-right: 0;
    }
}

ul{
    display: none;
    list-style-type: none;
    text-decoration: none;
}



input{
    display:none;
}

header{
    width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 99;
    background-color: #fff;
}

.nav-second{
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    position: relative;
    top:0;
    left: 0;
    z-index: 90;
    background-color: #fff;
    ul{
        background-color: #fff;
        align-items: center;
        li{
            margin: 0 1%;
        }
    }
}

.side-container{
    display: flex;
    align-items: center;
}

.love{
    display: none;
}

.burger{
    width: 20px;
    height: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.65em;
    cursor: pointer;
    span{
        height: 1px;
        border-radius: 20px;
        display: block;
        background-color: #111;
        position: relative;
        transition: transform 0.3s ease-in-out;
    }
     &:hover span:first-child{
         transform: translate(0, 8px); 
         transition: transform 0.3s ease-in-out;
     }
     &:hover span:last-child{
         transform: translate(0, -6px);
         transition: transform 0.3s ease-in-out;
     }
     &:hover span:nth-child(2){
         opacity: 0;
         transition: opacity 0.1s ease-in-out;
     }

}


 span:first-child.closing{
    transform: translate(0, 8px) rotate(45deg); 
    transition: transform 0.3s ease-in-out;
 }

 span:nth-child(2).close-scd{
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
 }

 span:last-child.close-th{
     transform: translate(0, -6px)  rotate(-45deg);
 }


.icon{
    display: flex;
}

.menu{
    display: none;
}

.shopping-icon span{
    background-color: #111;
    padding: 2px;
    border-radius: 6px;
    font-size: 0.7em;
    color: $white;
}

.ulPlus ul li a:hover{
    color: chocolate;
}

.menu-mobile{
    padding-top:7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 89;
    transform: translate(100%, 0);
    transition: all .3s ease-out;
    
    a{
        font-size: 1.5em;
        padding-bottom: 1.1em;
        text-align: center;
        font-family: $fontMid;
    }
    .log{
        padding-top: 2em;
        a{
            color: #757575;
            text-decoration: underline;
            font-size: 1.3em;
        }
    }
}

.menu-mobile-visibile{
    transform: translate(0, 0);
}

.overlay{
    background-color: rgb(22 21 21);
    opacity: 0;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity .3s ease-out;
}

.opacity-overlay{
    opacity: 0.7;
    height: 100vh;
}



@media screen and (min-width: 1000px) {
    
    ul{
        display: flex;
    }

    .login{
        display: none;
    }

    .love{
        display: block;
        margin: 0;
        padding: 0;
    }

    .burger{
        display: none;
    }

    
    .nav-second{
        padding: $borderPadding;
        ul{
            width: 100%;
            justify-content: space-between;
            li{
                font-family: "HelveticaNow-Medium", sans-serif;
            }
        }
    }

    .ulPlus{
        background-color: #fff;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
   
    .first{
        width: 20%;
    }

    .love{
        margin-right: 0.75em;
    }

    
    .menu{
        width: 100%;
        height: 40vh;
        position: fixed;
        top: 120px;
        left:0;
        z-index: -1;
        display: block;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.2s;
        transform: translateY(-120%);
        nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding:0 20%;
            ul{
                flex-direction: column;
                li{
                    opacity: 0;
                    margin-bottom: 0.5em;
                    color: #757575;
                    font-size: 0.7em;
                    cursor: pointer;
                    transition: opacity 0.3s ease-in ;
                    transition-delay: 0.3s;
                    transition-behavior: revert;
                    &:hover{
                        color: chocolate;
                    }
                    &:first-child{
                        font-size: 0.8em;
                        font-family: $fontMid;
                        margin-bottom: 0.8em;
                        color: #111;
                    }
                }
            }
        }
    }

    .side-container {
        width: 20%;
        justify-content: flex-end;
    }

    .ulPlus:hover .menu{
       transform: translateY(0);
       box-shadow: 0px 8px 9px 0px rgba(170, 170, 170, 0.3);
    }

     .ulPlus:hover .menu li{
         opacity: 1;
     }

     .menu-mobile{
       display: none;
    }

    .overlay{
        display: none;
    }

    .overlay-bg{
        width: 100%;
        height: 0;
        background-color: #111;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 98;
        transition: opacity 0.1s ease-in-out;
    }

    .visibility{
        opacity: 0.7;
        height: 100vh;
    }
    
}


@media screen and (min-width:1400px) {

    .nav-second{
        ul{
            width: 100%;
        }  
    }

    input{
        display: block;
    }

    .side-container{
        position: relative;
        justify-content: flex-end;
        width: 20%;
        .input-field{
            width: 80%;
        }
        .input-field input{
            width: 100%;
            outline: none;
            border: none;
            background-color: #f2f2f2;
            border-radius: 50px;
            height: 45px;
            padding-left: 20%;
            &::placeholder{
                font-size: 1.15em;
                font-family: "HelveticaNow-Medium", sans-serif;
                color: #757575;
            }
        }
        .input-field svg{
            position: absolute;
            top: 32%;
            left: 2%;               
        }
        .icon{
            margin-left: 10%;
            svg{
                padding: 2px;
                cursor: pointer;
                color: #111;
                &:hover{
                    background-color:#c5c5c5;
                    border-radius: 50%;
                }
            }
        }
    }

    

    .menu{
        nav{
            padding:0 30%;
        }
    }
    
}



