@import "../../../partial/variabili";

svg{
    margin-right: 0.75em;
}

a{
    color: #111;
    svg{
        margin-right: 0;
    }
}

ul{
    display: none;
    list-style-type: none;
    text-decoration: none;
}



input{
    display:none;
}

header{
    width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 99;
    background-color: #fff;
}

.nav-second{
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    ul{
        align-items: center;
        li{
            margin: 0 1%;
        }
    }
}

.side-container{
    display: flex;
    align-items: center;
}

.love{
    display: none;
}

.burger{
    width: 20px;
    height: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.65em;
    span{
        height: 1px;
        display: block;
        background-color: #111;

    }
}


.icon{
    display: flex;
}

.menu{
    display: none;
}

@media screen and (min-width: 1000px) {
    
    ul{
        display: flex;
    }

    .login{
        display: none;
    }

    .love{
        display: block;
        margin: 0;
        padding: 0;
    }

    .burger{
        display: none;
    }

    
    .nav-second{
        padding: $borderPadding;
        ul{
            width: 100%;
            justify-content: space-between;
            li{
                font-family: "HelveticaNow-Medium", sans-serif;
            }
        }
    }

    .ulPlus{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
   
    .first{
        width: 20%;
    }

    .love{
        margin-right: 0.75em;
    }

    
    .menu{
        width: 100%;
        height: 40vh;
        position: fixed;
        top: 120px;
        left:0;
        z-index: 98;
        display: none;
        background-color: #fff;
        nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding:0 20%;
            ul{
                flex-direction: column;
                li{
                    margin-bottom: 0.5em;
                    color: #757575;
                    font-size: 0.7em;
                    cursor: pointer;
                    &:hover{
                        color: chocolate;
                    }
                    &:first-child{
                        font-size: 0.8em;
                        font-family: $fontMid;
                        margin-bottom: 0.8em;
                        color: #111;
                    }
                }
            }
        }
    }

    .side-container {
        width: 20%;
        justify-content: flex-end;
    }

    // .overlay{
    //     width: 100%;
    //     height: 100vh;
    //     position: fixed;
    //     top: 120px;
    //     left:0;
    //     z-index: 98;
    //     background-color: rgba(0, 0, 0, 0.5);
    //     display: none;
    // }

    .ulPlus:hover .menu{
        display: block;
    }
    
}



@media screen and (min-width:1400px) {

    .nav-second{
        ul{
            width: 100%;
        }  
    }

    input{
        display: block;
    }

    .side-container{
        position: relative;
        justify-content: flex-end;
        width: 20%;
        .input-field{
            width: 80%;
        }
        .input-field input{
            width: 100%;
            outline: none;
            border: none;
            background-color: #f2f2f2;
            border-radius: 50px;
            height: 45px;
            padding-left: 20%;
            &::placeholder{
                font-size: 1.15em;
                font-family: "HelveticaNow-Medium", sans-serif;
                color: #757575;
            }
        }
        .input-field svg{
            position: absolute;
            top: 32%;
            left: 2%;               
        }
        .icon{
            margin-left: 10%;
            svg{
                padding: 2px;
                cursor: pointer;
                color: #111;
                &:hover{
                    background-color:#c5c5c5;
                    border-radius: 50%;
                }
            }
        }
    }

    

    .menu{
        nav{
            padding:0 30%;
        }
    }
    
}



