<header id="header">
    <app-header-banner-first></app-header-banner-first>
    <nav class="nav-second">
        <div class="first">
            <a routerLink="/home"><svg class="nike" width=" 145px" height="70px" viewBox="15 0 24 24"><path d="M21 8.719L7.836 14.303C6.74 14.768 5.818 15 5.075 15c-.836 0-1.445-.295-1.819-.884-.485-.76-.273-1.982.559-3.272.494-.754 1.122-1.446 1.734-2.108-.144.234-1.415 2.349-.025 3.345.275.2.666.298 1.147.298.386 0 .829-.063 1.316-.19L21 8.719z"></path></svg></a>
        </div>

        <div class="ulPlus">
            <ul>
                <li><a>Novità e in evidenza</a></li>
                <li><a>Uomo</a></li>
                <li><a>Donna</a></li>
                <li><a>Kids</a></li>
                <li><a>Outlet</a></li>
            </ul> 
            <div class="menu hidden"  #menuLarge >
                <nav>
                    <ul>
                        <li>In Evidenza</li>
                        <li  (click)="filterNewArrivals()">Tutti i nuovi arrivi</li>
                        <li  (click)="filterBestSellers()">Best Seller</li>
                        <li>Member Shop</li>
                        <li>Calendario</li>
                        <li>Shop air</li>
                        <li>Summer of sport</li>
                        <li>Must-have</li>
                    </ul>
                    <ul>
                        <li>Scopri Le Icone</li>
                        <li>Air Force</li>
                        <li>Air Jordan</li>
                        <li>Pegasus</li>
                        <li>Dunk</li>
                        <li>Blazer</li>
                        <li>Cortez</li>
                        <li>Mercurial</li>
                    </ul>
                    <ul>
                        <li>Scopri Lo Sport</li>
                        <li *ngFor="let categoria of categories" (click)="filterByCategory(categoria)">
                         {{ categoria }}
                        </li>
                    </ul>
                    <ul>
                        <li>Di Tendenza</li>
                        <li>AirMax</li>
                        <li>Snekears Y2</li>
                        <li>Teenager</li>
                        <li>Sport in Time</li>
                        <li>Air Jordan</li>
                        <li>Pegasus Next</li>
                        <li>Woman</li>
                    </ul>
                </nav>
            </div>
        </div>
        

        <div class="side-container">
            <div class="icon">
                <svg class="love" viewBox="0 0 24 24" width="24px" height="24px" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M16.794 3.75c1.324 0 2.568.516 3.504 1.451a4.96 4.96 0 010 7.008L12 20.508l-8.299-8.299a4.96 4.96 0 010-7.007A4.923 4.923 0 017.205 3.75c1.324 0 2.568.516 3.504 1.451l.76.76.531.531.53-.531.76-.76a4.926 4.926 0 013.504-1.451"></path></svg>
                <svg class="login" aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M3.75 21v-3a3.75 3.75 0 013.75-3.75h9A3.75 3.75 0 0120.25 18v3M12 3.75a3.75 3.75 0 100 7.5 3.75 3.75 0 000-7.5z"></path></svg>
                <a routerLink="cart" class="shopping-icon">
                    <span>{{totalItem}}</span>
                    <svg viewBox="0 0 24 24"width="24px" height="24px"fill="none" ><path stroke="currentColor" stroke-width="1.5" d="M8.25 8.25V6a2.25 2.25 0 012.25-2.25h3a2.25 2.25 0 110 4.5H3.75v8.25a3.75 3.75 0 003.75 3.75h9a3.75 3.75 0 003.75-3.75V8.25H17.5"></path></svg>
                </a>
            </div>

            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
    
    </nav>
    <app-header-banner-scd (mandaBanner)="riceviBanner($event)" [ngStyle]="{'display': hideComponents ? 'none' : 'block'}"></app-header-banner-scd>
</header>

<div class="overlay hidden" ></div>