
.nav-second{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2em 5%;
    align-items: center;
    a{
        color: #111;
    }
}

.shopping-icon span {
    background-color: #111;
    padding: 2px;
    border-radius: 6px;
    font-size: 0.7em;
    color: #fff;
}