@import "../../../partial/variabili";
@import "../../../partial/mixin";

.main-title{
    width: 100%;
    @include center;
    font-family: 'HelveticaNow', sans-serif;
    font-weight: 400;
    padding-bottom: 2em;
    padding-top: 1em;
}

.payment-wrapper{
    width: 100%;
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // gap: 10px;
}

.form{
    width: 100%;
    padding: 0 5%;
    
}


.go-payment{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;
    button{
        @include btn-pay;
        width: 30%;
        margin-bottom: 2em;
        background-color: #c5c5c5;
        color: #757575;

          
    }
}

.form-para{
    padding: 1em 0;
    font-size: 1.15em;
    color: #757575;
}

.form input{
    padding: 1.15em;
    border-radius: 10px;
    border: 1px solid #757575;
    margin: 1em 1% 1em 0;
    font-size: 1em;
}

.wrp-pay{
    width: 100%;
    padding: 2em 2%;
    color: #757575;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    h2{
        font-family: $fontReg;
    }
}

.wrp-pay2{
    border-top: none;
    margin-bottom: 5em;
}


.form-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    button{
        svg{
            margin-right: 1em
        }
    }
    
}

.btn-sped{
    @include btn-form-data;
}


.btn-rit{
    @include btn-form-data;
    border: 1px solid #c5c5c5;
}


.space{
    padding-bottom: 0.8em;
}




.option1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
    h1{
        font-size: 1.3em;
    }
    p{
        text-decoration:underline;
    }
}

.option2{
    width: 100%;
    border-bottom: 1px solid #757575;
    p{
        font-size: 1.15em;
        color: #757575;
        &:first-child{
            color: #111;
        }
        &:nth-child(2){
            padding-bottom: 0.8em;
        }
        &:nth-child(4){
            padding-bottom: 0.8em;
        }
        &:nth-child(5){
            color: #111;
        }
        &:last-child{
           padding-bottom: 3.5em;
        }
    }
}

.title{
    padding: 2em 0;
}

.lit{
    color: #757575;
    a{
        color: #111;
        text-decoration: underline;
        display: inline-block;
    }
}

.check{
    padding-bottom: 2em;
    line-height: 0em;
}

.check-pay{
    padding-bottom: 2em;
    div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        svg{
            margin: 0 2%;
        }
        
        img{
            margin-left: 2%;
            width: 15%;
        }
        
        
    }
    p{
        font-size: 1.15em;
    }
}

// .bg{
//     font-size: 1.15em;
// }

.insert-card{
    width: 100%;
    border: 1px solid #757575;
    border-radius: 20px;
    padding: 3em 2%;
    margin-bottom: 3em;
    h3{
        padding-bottom: 1.15em;
        font-size: 1.15em;
    }
}

#cartadicredito{
    //width: 57%;
    width: 100%;
}

#scadenza{
    //width: 20%;
    width: 100%;
}

#cvv{
   // width: 20%;
   width: 100%;
}

.where-my-cv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p{
        text-decoration: underline;
        font-size: 0.8em;
    }
}

.sped-datas{
    span{
        font-size: 1.15em;
    }
    p{
        font-size: 1.15em;
        color: #757575;
        padding-bottom: 0.5em;
        &:first-of-type{
            color: #111;
        }
    }
}


.go-payment button.btn-pay{
    background-color: #cbcbcb;
    color: #757575;
    //width: 50%;
    width: 100%;
}



//----------------------------------------------------------------------------------------

.labels-credit{
    display: flex;
    justify-content: space-around;

}
.cvv, .scadenza, .num{
    display: inline;
    position: relative;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
 }

.label{
    color: red;
    position: absolute;
    top: -31px;
    left: 6px;
    background-color: #fff;
    padding: 0 6px;
}

.go-payment button.btn-pay.valid-btn{
    background-color: #111;
    color: #fff;
}

@media screen and (min-width:600px) {
    .go-payment button.btn-pay{
        background-color: #cbcbcb;
        color: #757575;
        //width: 50%;
        width: 60%;
    }

    .check-pay{
        div{
            img{
                max-width: 70px;
            }
        }  
    }  
}

@media screen and (min-width:700px) {
    
   
    #scadenza{
        width: 45%;
      
    }
    
    #cvv{
        width: 45%;
      
    }

}

