
<main class="cont-login" *ngIf="isVisibile">
    <p class="title">Scegli come desideri pagare</p>
    <div class="login">
        <div class="registration">
            <p>Pagamento come member con spedizione gratuita</p>
            <p>Usa le credenziali di accesso Member Nike per Nike.com, NRC, NTC, SNKRS o Nike App.</p>
            <button routerLink="/auth/login">Accedi</button>
            <button routerLink="/auth/register">Registrati</button>
        </div>
        <div class="payment">
            <p>Pagamento come utente non registrato</p>
            <p>Puoi creare un profilo Member Nike gratuito direttamente al momento del pagamento.</p>
            <button routerLink="/checkout-form">Pagamento per utenti non registrati</button>
        </div>
    </div>
</main>
<router-outlet></router-outlet>