
.cart_container{
    width: 100%;
    padding: 2em 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3%;
}

.cart_container-member{
    width: 100%;
    border: 1px solid #c0c0c0;
    padding: 1em 2%;
    a{
        display: inline-block;
        text-decoration: underline;
        color: #636363;
    }
    h2{
        color: #fb4509;
        padding-bottom: 0.5em;
    }
    p{
        color: #757575;
    }
}

.cart_container-wrapper{
    h1{
        padding: 1.2em 0 0 0;
    }
}

.cart_container-card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.2em 0 2em 0;
    border-bottom: 1px solid #c0c0c0;
}


.cart_container-card-image_text{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img{
        width: 100%;
        padding-right: 2em;
    }
}

.cart_container-card-text-icon{
    width: 100%;
    p{
        font-size: 1.15em;
        color: #757575;
        padding-bottom: 0.4em;
        &:first-child{
            color: #111;
        }
    }
}

.select-cart{
    display: flex;
    justify-content: flex-start;
    select{
        border: none;
        color: #636363;
    }
    p:first-child{
        color: #757575;
        padding-right: 0.5em;
    }
    
}

.quantity{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.cart_icons{
    padding-top: 2em;
    width: 30%;
    display: flex;
    justify-content: space-between;
    svg{
        cursor: pointer;
    }
}

.cart_price{
    font-size: 1.15em;
}

.cart-link{
    font-size: 1.15em;
    border-bottom: 1px solid #c0c0c0;
    p{
        color: #111;
        padding-bottom: 0.5em;
    }
    a{
        color: #111;
        text-decoration: underline;
        padding-bottom: 1.1em;
    }
}

.cart-foot{
    padding-top: 2em;
    h2{
        padding-bottom: 0.5em;
    }
    p{
        font-size: 1.15em;
        a{
            color: #636363;
            text-decoration: underline;
            display: inline-block;
        }
    }
}

aside{
    width: 90%;
    h2{
        padding-bottom: 1.5em;
    }
}

.inbetween{
    display: flex;
    justify-content: space-between;
    align-items: baseline;padding-bottom: 1.5em;
}

.last{
    border-top: 1px solid #c0c0c0;;
    border-bottom: 1px solid #c0c0c0;;
    padding-top: 1.5em;
}

.payments_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
       @include btn-pay;
        &:last-child{
            background-color: #f2f2f2;
            border: 1px solid #636363;
            margin-top: 1em;
            img{
                width: 15%;
            }
        }
        a{
            color: $white;
            font-family: $fontMid;
        }
    }
   
}



.hidden-visibility{
    display: none;
}


