header{
    width: 100%;
    padding: .6em 0 0 0;
    background-color: #f2f2f2;


    .nav-first{
        display: flex;
        justify-content: space-between;
        padding: 0 3% 0.6em 3%;
        div{
            width: 20%;
            svg:first-child{
                margin-right: 3%;
            }
            svg{
                cursor: pointer;
            }
            svg:hover{
                fill: #757575;
            }
        }
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
            width: 56%;
            li{
                padding: 0 2%;
                border-right: 2px solid #000;
                &:last-child{
                    padding-right:0;
                    border: none;
                }
                a{
                    color: #000;
                    font-size: 0.75em;
                    font-family:"HelveticaNow-Medium", sans-serif;
                    &:hover{
                    color: #757575; 
                    }
                }
            }
        }
    }


    .nav-second{
        position: relative;
        background-color: #fff;
        padding: 0 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .first{
            width: 8%;
            svg{
                &:hover{
                    fill: #757575;
                }
            }
        }
        ul{
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%, -50%);
            display: flex;
            justify-content: space-between;
            width: 30%;
            li a{
                color: #000;
                font-family:"HelveticaNow-Medium", sans-serif; 
                font-size:1.15em;
                &:hover{
                    color: #757575;
                }
            }
        }
        .side-container{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 22%;
            .input-field{
                width: 60%;
            }
            .input-field input{
                width: 100%;
                outline: none;
                border: none;
                background-color: #f2f2f2;
                border-radius: 50px;
                height: 45px;
                padding-left: 20%;
                &::placeholder{
                    font-size: 1.15em;
                    font-family: "HelveticaNow-Medium", sans-serif;
                    color: #757575;
                }
            }
            .input-field svg{
                position: absolute;
                top: 25%;
                left: 2%;               
            }
            .icon{
                width: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg{
                    padding: 2px;
                    cursor: pointer;
                    color: #111;
                    &:hover{
                        background-color: $colorDarker;
                        border-radius: 50%;
                    }
                }
            }
        }
        

    }

    .banner{
        width: 100%;
        background-color: #f2f2f2;
        text-align: center;
        p{
            padding-bottom: .5em;
            &:first-child{
                padding-top: .5em;
            }
            &:last-child{
                font-size: 0.75em;
            }
            a{
                display: inline-block;
                text-decoration: underline;
                font-family: "HelveticaNow-Medium", sans-serif;
                color: #000;
            }
        }
    }
}

header.open-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

