
main{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}



.hero{
    width: 100%;
    position: relative;
    padding: 1.5em 0;
    div{
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        color: $white;
        padding: $borderPadding;
        padding-bottom: 4.5em;
        h1{
            font-size: 4.75em;
            text-transform: uppercase;
            font-family: $fontBold;
        }
        p{
            font-size: $dimRegular;
            &:last-of-type{
                margin-top: 1.15em;
            }
        }
        button{
            @include btn;
            margin-top: 3em;
            &:hover{
                background-color: $colorDarker;
                color: $white;
            }
        }
    }
}