section{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 5em;
    .controls{
        width: 100%;
        @include spacer;
        padding: $borderPadding;
        padding-bottom: $dimRegular;
    }
    .container-slider{   
        @include carusel;
        .card{
            transform: translateX(10%);
            img{
                width: 90%;
                margin-bottom: $dimRegular;
            }
            .text{
                font-size: 1.20em;
                p{
                    color: #111;
                    &:nth-child(2){
                        color: #757575;
                        padding-bottom: 0.8em;
                    }
                    &:last-child{
                        padding-bottom: 0.8em;
                    }
                }
            }
        }
        
    }
}

.next{
    @include btn-carusel;
}

.prev{
    @include btn-carusel;
    opacity: .3;
    &:hover{
        background-color: $colorFirst;
    }
}


main:nth-child(2) .container-slider .card{
    position: relative;
    button.btn-sport{
        @include btn;
        position: absolute;
        bottom: 3em;
        left: 10%;
        &:hover{
            background-color: $colorDarker;
            color: $white;
        }
    }
}

.card{
    p.claim{
        position: absolute;
        bottom: 11em;
        left: 10%;
        color: $white;
    }
    h2{
        position: absolute;
        bottom: 6em;
        left: 10%;
        color: $white;
    }
    button.btn-member{
        position: absolute;
        bottom: 3em;
        left: 10%;
        @include btn;
        &:hover{
            background-color: $colorDarker;
            color: $white;
        }
    }
    button.inner{
        width: 200px;
    }
}

// unlock class
.prev{
    @include btn-carusel;
    opacity: .3;
    &:hover{
        background-color: $colorFirst;
    }
}

.prev.unlock{
    opacity: 1;
    &:hover{
        background-color: #757575;
    }
}

.next.lock{
    opacity: .3;
    &:hover{
        background-color: $colorFirst;
    }
}

.prev.lock{
    opacity: .3;
    &:hover{
        background-color: $colorFirst;
    }
}

.next.unlock{
    opacity: 1;
    &:hover{
        background-color: #757575;
    }
}