 
 $fontBold:"HelveticaNow-EBold", sans serif;
 $fontMid:"HelveticaNow-Medium", sans serif;
 $fontReg:"HelveticaNow", sans serif;

 $white: #fff;

 $dimRegular: 1.20em;

 $borderPadding: 0 3%;

$colorFirst : #f2f2f2;
$colorDarker : #c5c5c5;
$colorDarkerD : #9e9c9c;