<div class="sidebar-menu">
   <ul>
    <li>Giacche</li>
    <li>Parkas</li>
    <li>Piumini</li>
    <li>Antivento</li>
    <li>Smanicati</li>
    <li>Impermeabili</li>
    <li>Giacche di Atletica</li>
    <li>Anoraks</li>
   </ul>
   <ul>
    <li>Giacche</li>
    <li>Parkas</li>
    <li>Piumini</li>
    <li>Antivento</li>
    <li>Smanicati</li>
    <li>Impermeabili</li>
    <li>Giacche di Atletica</li>
    <li>Anoraks</li>
   </ul>
   <ul>
    <li>Giacche</li>
    <li>Parkas</li>
    <li>Piumini</li>
    <li>Antivento</li>
    <li>Smanicati</li>
    <li>Impermeabili</li>
    <li>Giacche di Atletica</li>
    <li>Anoraks</li>
   </ul>
   <ul>
    <li>Giacche</li>
    <li>Parkas</li>
    <li>Piumini</li>
    <li>Antivento</li>
    <li>Smanicati</li>
    <li>Impermeabili</li>
    <li>Giacche di Atletica</li>
    <li>Anoraks</li>
    <li>Antivento</li>
    <li>Smanicati</li>
    <li>Impermeabili</li>
    <li>Giacche di Atletica</li>
    <li>Anoraks</li>
    <li>Antivento</li>
    <li>Smanicati</li>
    <li>Impermeabili</li>
    <li>Giacche di Atletica</li>
    <li>Anoraks</li>
   </ul>

</div>
