.sidebar-menu{
    width: 20vw;
    height: 100vh;
    position: sticky;
    top:0;
    left: 0;
    z-index:98;
    overflow: auto;
    background-color: #fff;
    display: none;
    padding-bottom: 10em;
}

@media screen and (min-width:1000px) {
  .sidebar-menu{
    display: block;
    scrollbar-color: #202020 rgb(255, 255, 255);
    scrollbar-width: thin;
  }



  
}