
@font-face {
    font-family: "HelveticaNow";
    src:    url(../public/assets/font/HelveticaNowText-Regular.woff2),
            url(../public/assets/font/HelveticaNowText-Regular.woff),
            url(../public/assets/font/HelveticaNowText-Regular.ttf);
}

@font-face {
    font-family: "HelveticaNow-Medium";
    src:    url(../public/assets/font/HelveticaNowText-Medium.woff2),
            url(../public/assets/font/HelveticaNowText-Medium.woff),
            url(../public/assets/font/HelveticaNowText-Medium.ttf);
}

@font-face {
    font-family: "HelveticaNow-EBold";
    src:    url(../public/assets/font/HelveticaNowText-ExtraBold.woff2),
            url(../public/assets/font/HelveticaNowText-ExtraBold.woff),
            url(../public/assets/font/HelveticaNowText-ExtraBold.ttf);
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"HelveticaNow", sans-serif ;
    font-size: 1em;
}

.wrapper{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}


ul{
    list-style-type: none;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    display: block;
    cursor: pointer;
}

button{
    cursor: pointer;
}

body.scroll-up header {
    filter: drop-shadow(0 -10px 20px rgb(170,170,170));
    transition: transform 0.3s ease-in-out;
   }
   
 body.scroll-down header {
     transform: translate3d(0, -100%, 0);
     transition: transform 0.3s ease-in-out;
 }

 body.scroll-up header .menu{
    transition: transform 0.3s ease-in-out;
   }
   
 body.scroll-down header .menu{
     transform: translate3d(0, -100%, 0);
     transition: transform 0.3s ease-in-out;
 }

 input.ng-invalid.ng-touched {
    border: 1px solid red;
 }