@import "../../../partial/variabili";

.card{
    h2{
        font-size: 1.1em;
    }
    img{
        margin-bottom: 1em;
    }
    .category{
        color: $colorDarkerD;
    }
    .price{
        margin-bottom: 2.2em;
        font-size: 1.1em;
    }
    .color{
        margin-bottom: 1em;
        color: #946c22;
    }
}

@media screen and (min-width:500px) {
    .card{
        width: 45%
    };
    .c-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width:1000px) {
    .card{
        width: 30%
    };
    .c-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1.4em;
        padding-left: 3%;
    }
    .c-side{
        display: flex;
    }
}
#scroll-container {
    height: 100vh;  /* Imposta un'altezza fissa */
    overflow-y: auto;  /* Abilita lo scrolling verticale */
    scrollbar-width: 0;
    
   // border: 1px solid #ccc;  /* Opzionale: bordi per vedere meglio il contenitore */
  }

  #scroll-container::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }

 