<main class="wrapper">
    <section class="container">
        <section *ngIf="singleProduct">
            <div  class="hidden" *ngFor="let dettaglio of singleProduct.immagini_dettaglio, let i = index" >
                <img  [src]="dettaglio" [alt]="singleProduct.nome" (mouseenter)="displayedImg = i" >
            </div>
        </section>
        <section>
            <div>
                <div class="image-banner">
                    <span><svg height="20px" width="20px" fill="#111" viewBox="0 0 25 32"><path d="M12.48 4l-3.04 8.96-9.44.32 7.6 5.6L4.96 28l7.68-5.44 7.84 5.28-2.8-9.04 7.52-5.76-9.52-.08z"></path></svg></span>Valutazione alta
                </div>
                <div id="productImage" *ngIf="singleProduct">
                    <img [src]="singleProduct.immagini_dettaglio[displayedImg]" alt="prodotto esposto">
                </div>
            </div>
        </section>
        <section class="b">
            <div *ngIf="singleProduct" >
                <h1>{{singleProduct.nome}}</h1>
                <h2>Scarpa - Uomo</h2>
                <p class="descrizione">{{singleProduct.descrizione}}</p>
                <p class="prezzo">{{singleProduct.prezzo | currency : 'EUR'}}</p>
            </div>
            <div *ngIf="singleProduct"  >
                <img *ngFor="let coloreImg of singleProduct.colori_immagini, let i = index" 
                [src]="coloreImg.imm" 
                [alt]="coloreImg.colore"
                (click)="innerColor(coloreImg.colore)"
                (click)="innerImg(coloreImg.imm)"
                class="color-option"
               >
               <!-- [ngClass]="{'selected': isSelectedColor(coloreImg.colore)}" -->
               <!-- [ngClass]="{'selected': isSelectedSize(taglia)}"  -->
            </div>
            <div>
                <p id="error">Seleziona la taglia/misura</p>
                <p>Guida alle taglie e alle misure</p>
            </div>
            <div id="boxSize" *ngIf="singleProduct">
                <button class="taglie" *ngFor="let taglia of singleProduct.taglie_disponibili"  
                (click)="innerT(taglia)" 
                >EU {{taglia}}</button>
            </div>         
            <div>
                <p #errorMessage class="error-message">Devi selezionare una taglia</p>
                <p #errorMessageC class="error-message">Devi selezionare un colore</p>
                <button class="shop" (click)="addToCart(singleProduct)">Aggiungi al carrello</button>
                <button class="prefer">Aggiungi ai preferiti</button>
                <p>
                    Questo articolo è escluso dalle promozioni e dagli sconti sul sito.
                </p>
            </div>
        </section>
    </section>
</main>
